<div class="clearfix">
	<div id="logo">
		<a href="<%- config.root %>"><img src="<%- config.root %>/img/logo.svg" width="360" height="108" alt="Snger"/></a>
		<hgroup>
			<h1 class="site-name"><a href="<%- config.root %>"><%= config.title %></a></h1>
			<h2 class="blog-motto"><% if (config.subtitle){ %><%= config.subtitle %><% } %></h2>
		</hgroup>
	 </div>
	 <div class="navbar"><a class="navbutton" href="#"><i class="icon-menu"></i></a></div>
	<nav>
		<ul>
		 <% for (var i in theme.menu){ %>
			<li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
		<% } %>
			<li> <a title="shall we talk" href='javascript:(
function() {
	function loadCss() {
		var e = document.createElement("link");
		e.setAttribute("type", "text/css");
		e.setAttribute("rel", "stylesheet");
		e.setAttribute("href", f);
		e.setAttribute("class", l);
		document.body.appendChild(e)
	}
 
	function removeCssClass() {
		var e = document.getElementsByClassName(l);
		for (var t = 0; t < e.length; t++) {
			document.body.removeChild(e[t])
		}
	}
 
	function showLight() {
		var e = document.createElement("div");
		e.setAttribute("class", a);
		document.body.appendChild(e);
		setTimeout(function() {
			document.body.removeChild(e)
		}, 100)
	}
 
	function getOffset(e) {
		return {
			height : e.offsetHeight,
			width : e.offsetWidth
		}
	}
 
	function elemFilter(i) {
		var s = getOffset(i);
		return s.height > e && s.height < n && s.width > t && s.width < r
	}
 
	function returnOffsetTop(e) {
		var t = e;
		var n = 0;
		while (!!t) {
			n += t.offsetTop;
			t = t.offsetParent
		}
		return n
	}
 
	function g() {
		var e = document.documentElement;
		if (!!window.innerWidth) {
			return window.innerHeight
		} else if (e && !isNaN(e.clientHeight)) {
			return e.clientHeight
		}
		return 0
	}
 
	function y() {
		if (window.pageYOffset) {
			return window.pageYOffset
		}
		return Math.max(document.documentElement.scrollTop, document.body.scrollTop)
	}
 
	function E(e) {
		var t = returnOffsetTop(e);
		return t >= w && t <= b + w
	}
 
	function S() {
		var e = document.createElement("audio");
		e.setAttribute("class", l);
		e.src = i[parseInt(10*Math.random())];
		e.loop = false;
		e.addEventListener("canplay", function() {
			setTimeout(function() {
				x(k)
			}, 500);
			setTimeout(function() {
				N();
				showLight();
				for (var e = 0; e < O.length; e++) {
					T(O[e])
				}
			}, 15500)
		}, true);
		e.addEventListener("ended", function() {
			N();
			removeCssClass()
		}, true);
		e.innerHTML = " <p>If you are reading this, it is because your browser does not support the audio element. We recommend that you get a new browser.</p> <p>";
		document.body.appendChild(e);
		e.play()
	}
 
	function x(e) {
		e.className += " " + s + " " + o
	}
 
	function T(e) {
		e.className += " " + s + " " + u[Math.floor(Math.random() * u.length)]
	}
 
	function N() {
		var e = document.getElementsByClassName(s);
		var t = new RegExp("\\b" + s + "\\b");
		for (var n = 0; n < e.length; ) {
			e[n].className = e[n].className.replace(t, "")
		}
	}

	function reset(){
		N();removeCssClass();
	}
 
	var e = 30;
	var t = 30;
	var n = 350;
	var r = 350;
	var i = ["/music/again-yui.mp3","/music/AiCongLingKaiShi-syz.mp3","/music/BieLaiWuYang-xtf.mp3","/music/DangChe-eason.mp3","/music/HaoJiuBuJian-eason.mp3","/music/LifeForRent-Dido.mp3","/music/TongLei-syz.mp3","/music/WoHuaiNianDe-syz.mp3","/music/youAreBeautiful.mp3","/music/youngForYou.mp3"];
	var s = "mw-harlem_shake_me";
	var o = "im_first";
	var u = ["im_drunk", "im_baked", "im_trippin", "im_blown"];
	var a = "mw-strobe_light";
	var f = "/css/harlem-shake-style.css";
	var l = "mw_added_css";
	var b = g();
	var w = y();
	var C = document.getElementsByTagName("*");
	var k = null;
	reset();
	for (var L = 0; L < C.length; L++) {
		var A = C[L];
		if (elemFilter(A)) {
			if (E(A)) {
				k = A;
				break
			}
		}
	}
	if (A === null) {
		console.warn("Could not find a node of the right size. Please try a different page.");
		return
	}
	loadCss();
	S();
	var O = [];
	for (var L = 0; L < C.length; L++) {
		var A = C[L];
		if (elemFilter(A)) {
			O.push(A)
		}
	}
})()    '>>_<</a>
			</li>
			<li><form class="search" action="//google.com/search" method="get" accept-charset="utf-8">
				<label>Search</label>
					<input type="search" name="q" id="search" autocomplete="off" autocorrect="off" autocapitalize="off" maxlength="20" placeholder="Search" />
					<input type="hidden" name="q" value="site:<%- config.url.replace(/^https?:\/\//, '') %>">
				</form>
			</li>
		</ul>
	</nav>
</div>
<!-- var i = "//s3.amazonaws.com/moovweb-marketing/playground/harlem-shake.mp3";
	var f = "//s3.amazonaws.com/source/css/harlem-shake-style.css"; -->